    <div id="scmp-overlay" class="scmp-overlay scmp-hidden"></div>
    <div class="scmp-content">
        <div class="scmp-container">
            <div id="scmp-header">
                <div class="scmp-title scmp-max-width">Ce site utilise des cookies.</div>
                <div class="scmp-text scmp-margin-bottom-small scmp-max-width">##scmp-text##</div>
            </div>
            <div id="scmp-parameters" class="scmp-parameters scmp-hidden">
                <div id="scmp-description" class="scmp-description">
                    <div class="scmp-text scmp-margin-bottom-small scmp-max-width">Les cookies garantissent une expérience de navigation optimale.</div>

                    <div class="scmp-margin-bottom-small scmp-max-width">Cliquez sur chaque catégorie pour activer ou désactiver l’utilisation des cookies. Le bouton de couleur indique si les cookies sont actifs (vert) ou inactifs (gris).</div>
                </div>

                <div class="scmp-title scmp-sub-title">Editeur</div>
                <ul class="scmp-list-parameters scmp-max-width">
                    <li>
                        <input type="checkbox" id="scmp-fonctionnement" data-consent-family="functionning" value="fonctionnement" disabled checked>
                        <label for="scmp-fonctionnement" data-trkcmp="taquet-fonctionnel">Fonctionnement</label>
                        <div>Ces cookies garantissent le fonctionnement du site et permettent la navigation.</div>
                    </li>
                    <li>
                        <input type="checkbox" id="scmp-webanalytics" data-consent-family="analytics" value="webanalytics">
                        <label  for="scmp-webanalytics" data-trkcmp="taquet-wa">Web Analytics</label>
                        <div>Ces cookies permettent de mesurer la fréquentation de nos sites et d’identifier vos centres d’intérêt à des fins de personnalisation.</div>
                    </li>
                    <li class="retention">
                        <input type="checkbox" id="scmp-publicite" data-consent-family="advertising" value="publicite">
                        <label for="scmp-publicite" data-trkcmp="taquet-pub">Publicité</label>
                        <div>Ces cookies propres ou tiers permettent de mieux cibler les publicités qui vous sont proposées sur nos Sites et sur Internet. Ils peuvent aussi nous permettre de procéder à un reciblage pour nos produits et services sur d’autres canaux de communication internes.</div>
                    </li>
                    <li class="retention">
                        <input type="checkbox" id="scmp-editorial" data-consent-family="editorial" value="editorial">
                        <label for="scmp-editorial" data-trkcmp="taquet-editorial">Contenus éditoriaux</label>
                        <div>Ces cookies tiers permettent de mieux cibler les contenus éditoriaux qui vous sont proposés sur nos espaces publicitaires par nos partenaires commerciaux en fonction de vos centres intérêts.</div>
                    </li>
                </ul>

                <div class="scmp-title scmp-sub-title">Partenaires publicitaires</div>
                <ul class="scmp-list-parameters scmp-max-width">
                    <li>
                        <input type="checkbox" id="scmp-iab-purpose-1" data-consent-family="iab-purpose-1" value="iab-purpose-1">
                        <label for="scmp-iab-purpose-1" data-trkcmp="taquet-iab-purpose-1">Conservation et accès aux informations</label>
                        <div>La conservation d’informations ou l’accès à des informations déjà conservées sur votre appareil, par exemple des identifiants publicitaires, des identifiants de l’appareil, des cookies et des technologies similaires.</div>
                    </li>
                    <li>
                        <input type="checkbox" id="scmp-iab-purpose-2" data-consent-family="iab-purpose-2" value="iab-purpose-2">
                        <label  for="scmp-iab-purpose-2" data-trkcmp="taquet-iab-purpose-2">Personnalisation</label>
                        <div>Collecte et traitement d’informations relatives à votre utilisation de ce service afin de vous adresser ultérieurement des publicités et/ou du contenu personnalisés dans d’autres contextes, par exemple sur d’autres sites ou applications. En général, le contenu du site ou de l’application est utilisé pour faire des déductions concernant vos intérêts, ce qui sera utile dans le cadre de sélections ultérieures de publicité et/ou de contenu.</div>
                    </li>
                    <li>
                        <input type="checkbox" id="scmp-iab-purpose-3" data-consent-family="iab-purpose-3" value="iab-purpose-3">
                        <label for="scmp-iab-purpose-3" data-trkcmp="taquet-iab-purpose-3">Sélection, diffusion et signalement de publicités</label>
                        <div>Collecte d’informations qui sont en suite associées à celles rassemblées précédemment, afin de sélectionner et diffuser des publicités à votre égard, puis évaluer leur diffusion ainsi que leur efficacité. Cela comprend : le fait d’utiliser des informations collectées précédemment relativement à vos intérêts afin de sélectionner des publicités ; le traitement de données indiquant quelles publicités ont été affichées et à quelle fréquence, à quel moment et où elles ont été affichées ; et le fait de savoir si vous avez réagi par rapport auxdites publicités, par exemple si vous avez cliqué dessus ou effectué un achat. Cela ne comprend pas la Personnalisation qui consiste en la collecte et le traitement d’informations relatives à votre utilisation de ce service afin de vous adresser ultérieurement des publicités et/ou du contenu personnalisés dans d’autres contextes, par exemple sur des sites ou applications.</div>
                    </li>
                    <li>
                        <input type="checkbox" id="scmp-iab-purpose-4" data-consent-family="iab-purpose-4" value="iab-purpose-4">
                        <label for="scmp-iab-purpose-4" data-trkcmp="taquet-iab-purpose-4">Sélection, diffusion et signalement de contenu</label>
                        <div>La collecte d’informations que l’on associe à celles rassemblées précédemment afin de sélectionner et diffuser des contenus à votre égard, puis évaluer leur diffusion ainsi que leur efficacité. Cela comprend : le fait d’utiliser des informations collectées précédemment relativement à vos intérêts afin de sélectionner du contenu ; le traitement de données indiquant quel contenu a été affiché, à quelle fréquence, pendant combien de temps, à quel moment et où il a été affiché ; et le fait de savoir si vous avez réagi par rapport audit contenu, par exemple si vous cliqué dessus. Cela ne comprend pas la Personnalisation qui consiste en la collecte et le traitement d’informations relatives à votre utilisation de ce service afin de vous adresser, ultérieurement du contenu et/ou des publicités personnalisés dans d’autres contextes, par exemple sur des sites ou applications.</div>
                    </li>
                    <li>
                        <input type="checkbox" id="scmp-iab-purpose-5" data-consent-family="iab-purpose-5" value="iab-purpose-5">
                        <label for="scmp-iab-purpose-5" data-trkcmp="taquet-iab-purpose-5">Évaluation</label>
                        <div>La collecte d’informations relatives à votre utilisation du contenu et association desdites informations avec celles précédemment collectées afin d’évaluer, de comprendre et de rendre compte de la façon dont vous utilisez le service. Cela ne comprend pas la Personnalisation, la collecte d’informations relatives à votre utilisation de ce service afin de vous adresser ultérieurement du contenu et/ou des publicités personnalisés dans d’autres contextes, c’est-à-dire sur d’autres services, tels que des sites ou des applications.</div>
                    </li>
                </ul>

                <div class="scmp-title scmp-sub-title">Autres partenaires</div>
                <ul class="scmp-list-parameters scmp-max-width scmp-margin-bottom">
                    <li>
                        <input type="checkbox" id="scmp-social" data-consent-family="social" value="social">
                        <label for="scmp-social" data-trkcmp="taquet-social">Social</label>
                        <div>Ces cookies vous permettent d’interagir avec les modules sociaux présents sur le site.</div>
                    </li>
                </ul>

                <div class="scmp-title scmp-sub-title">Fonctionnalités</div>
                <ul class="scmp-list-parameters scmp-max-width scmp-margin-bottom">
                    <li>
                        <div class="label">Couplage de données hors ligne</div>
                        <div>Le couplage de données provenant de sources hors ligne qui étaient initialement collectées dans d’autres contextes avec des données collectées en ligne à l’appui d’un ou plusieurs objets.</div>
                    </li>
                    <li>
                        <div class="label">Liaison d’appareils</div>
                        <div>Le traitement de données permettant de lier plusieurs appareils appartenant au même utilisateur à l’appui d’un ou plusieurs objets.</div>
                    </li>
                    <li>
                        <div class="label">Données de position géographiques précises</div>
                        <div>La collecte et la prise en charge de données de position géographiques précises à l’appui d’un ou plusieurs objets.</div>
                    </li>
                </ul>
            </div>


            <div id="scmp-partners" class="scmp-parameters scmp-partners scmp-hidden">
                <div id="scmp-description" class="scmp-description">
                    <div class="scmp-title scmp-margin-bottom-small scmp-max-width">Nos partenaires.</div>

                    <div class="scmp-margin-bottom-small scmp-max-width">Vous pouvez donner ou modifier votre consentement aux sociétés de votre choix. Ces sociétés participent au Transparency & Consent Framework de l’IAB Europe. Pour vous aider dans votre décision, vous pouvez cliquer sur chaque société pour comprendre à quelles fins elle utilise vos données. Certaines sociétés sont susceptibles d’utiliser vos données sans votre consentement, sur la base de leur intérêt légitime. Le cas échéant, vous pouvez accéder à leur politique de vie privée pour obtenir plus d’information et exercer votre droit d’opposition. Le bouton de couleur indique si les cookies sont actifs (vert) ou inactifs (rouge).</div>
                </div>

                <ul id="scmp-list-partners" class="scmp-list-parameters scmp-list-partners scmp-max-width">
                    <li>
                        <button class="scmp-arrow-down"></button>
                        <input type="checkbox" id="scmp-partner-i" data-consent-partner="partner-id" value="partner-id" checked>
                        <label for="scmp-partner-i" data-trkcmp="taquet-partner">partner-name</label>
                        partner-text
                    </li>
                </ul>

            </div>
            <div class="scmp-actions">
                <div class="scmp-container">
                    <div id="scmp-actions-parameters" class="scmp-max-width scmp-margin-bottom-small">
                        <button id="scmp-btn-parameters" href="javascript:;" class="scmp-button" data-trkcmp="parametre">Je paramètre</button>
                        <button id="scmp-btn-disallow" href="javascript:;" class="scmp-button scmp-button-n2 scmp-hidden" data-trkcmp="refus2">Tout refuser</button>
                        <button id="scmp-btn-validation" href="javascript:;" class="scmp-button scmp-button-n2 scmp-hidden" data-trkcmp="accepter2">Je valide</button>
                        <button id="scmp-btn-allow" href="javascript:;" class="scmp-button scmp-button-n1 pull-right" data-trkcmp="accepter1">Tout accepter</button>
                    </div>
                    <div id="scmp-actions-partners" class="scmp-max-width scmp-hidden">
                        <button id="scmp-btn-allow-partners" href="javascript:;" class="scmp-button scmp-button-n1" data-trkcmp="partenaires1">Je valide</button>
                    </div>
                    <div class="scmp-max-width">
                        <a id="scmp-btn-partners" href="javascript:;" role="button" data-trkcmp="accepter1">Nos partenaires</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
