    <div id="scmp-overlay" class="scmp-overlay scmp-hidden"></div>
    <div class="scmp-content">
        <div class="scmp-container">
            <div id="scmp-header">
                <div class="scmp-title scmp-max-width">Ce site utilise des cookies.</div>
                <div class="scmp-text scmp-margin-bottom-small scmp-max-width">##scmp-text##</div>
            </div>
            <div id="scmp-parameters" class="scmp-parameters scmp-hidden">
                <div id="scmp-description" class="scmp-description">
                    <div class="scmp-text scmp-margin-bottom-small scmp-max-width">Les cookies garantissent une expérience de navigation optimale.</div>

                    <div class="scmp-margin-bottom-small scmp-max-width">Cliquez sur chaque catégorie pour activer ou désactiver l’utilisation des cookies. Le bouton de couleur indique si les cookies sont actifs (vert) ou inactifs (gris).</div>
                </div>

                <div id="scmp-confirmation" class="scmp-confirmation scmp-hidden">
                    <div class="scmp-title scmp-margin-bottom-small scmp-max-width">Êtes-vous sûr de vouloir refuser les cookies publicitaires&nbsp;?</div>

                    <div class="scmp-margin-bottom-small scmp-max-width">En refusant ces cookies, nous ne pourrons pas personnaliser la publicité qui sera présentée sur le site, qui sera ainsi moins pertinente.</div>
                </div>

                <ul class="scmp-list-parameters scmp-max-width">
                    <li>
                        <input type="checkbox" id="scmp-fonctionnement" data-consent-family="functionning" value="fonctionnement" disabled checked>
                        <label for="scmp-fonctionnement" data-trkcmp="taquet-fonctionnel">Fonctionnement</label>
                        <div>Ces cookies garantissent le fonctionnement du site et permettent son optimisation.</div>
                    </li>
                    <li>
                        <input type="checkbox" id="scmp-webanalytics" data-consent-family="analytics" value="webanalytics" checked>
                        <label  for="scmp-webanalytics" data-trkcmp="taquet-wa">Web Analytics</label>
                        <div>Ces cookies permettent le suivi anonyme et agrégé des outils de Web Analytics.</div>
                    </li>
                    <li>
                        <input type="checkbox" id="scmp-social" data-consent-family="social" value="social" checked>
                        <label for="scmp-social" data-trkcmp="taquet-social">Social</label>
                        <div>Ces cookies vous permettent d’interagir avec les modules sociaux présents sur le site.</div>
                    </li>
                    <li class="retention">
                        <input type="checkbox" id="scmp-publicite" data-consent-family="advertising" value="publicite" checked>
                        <label for="scmp-publicite" data-trkcmp="taquet-pub">Publicité</label>
                        <div>Ces cookies permettent de mieux cibler les publicités qui vous sont proposées sur Internet.</div>
                    </li>
                    <li class="retention">
                        <input type="checkbox" id="scmp-editorial" data-consent-family="editorial" value="editorial" checked>
                        <label for="scmp-editorial" data-trkcmp="taquet-editorial">Contenus éditoriaux</label>
                        <div>Ces cookies tiers permettent de mieux cibler les contenus éditoriaux qui vous sont proposés sur nos espaces publicitaires par nos partenaires commerciaux en fonction de vos centres intérêts.</div>
                    </li>
                </ul>
            </div>

            <div class="scmp-actions">
                <button id="scmp-btn-validation" href="javascript:;" role="button" class="scmp-button scmp-button-n1" data-trkcmp="accepter1">Je valide</button>
                <button id="scmp-btn-parameters" href="javascript:;" class="scmp-button" data-trkcmp="parametre">Je paramètre</button>
            </div>

        </div>
    </div>
